$primary-color: rgb(0, 120, 231);
$secondary-color: #29a8b5; //rgb(66, 144, 121);
$green: rgb(28, 184, 65);
$light-grey: rgb(230, 230, 230);
$grey: rgb(160, 160, 160);
$dark-grey: #777;
$red: rgb(202, 60, 60);
$orange: rgb(223, 117, 20);
$lite-stroke: rgba(0, 0, 0, 0.2);
$black: rgba(20, 20, 20, 1);
